.form_title {
    font-size: 25pt;
    font-weight: bold;
    margin-right: 14pt;
}

.admin_buttons {
    margin-right: 5pt;
    color: white;
}

.list_titles {
    font-size: medium;
}

.post_images {
    width: 100%;
}

.main_post_images {
    width: 100%;
}

.admin_list_group {
    margin-bottom: 5px;
}

.admin_footer {
    background-color: #F2F2F2; 
    border-top: #F2F2F2;
}

.select_element {
    margin-right: 14pt;
}

.admin_menu_button {
    border: none;
    outline: none;
    box-shadow: none;
}

.header_img {
    background-repeat:no-repeat;
    background-position-y:30%;
    background-size:100%;
    height:10rem;
    width:100%;
    position:relative;
    border-style: none;
    border-color: #F2F2F2;
}

.general_background {
    background-color: #F2F2F2;
}

.form-container{
    position:absolute;
    top:20vh;
    background:#F2F2F2;
    padding:30px;
    border-radius:10px;
    -webkit-box-shadow:0px 0px 10px 0px #000000;
    box-shadow:0px 0px 10px 0px #000000;
    width:100%
}

.inscription-img {
    background-image:url("/images/system/cancha.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:80rem
}

.login-img {
    background-image:url("/images/system/pelota.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height:40rem
}

.vertical_line {
    border-left: 3px solid black;
    height: 100%;
}

.bottom_line {
    border-bottom: 3px solid black;
    height: 30px;
    width: 80%
}

body {
      min-height: 100vh;
}

.navbar_color {
    background-color: #00aac4;
}

/* 
Quitar incremental de los inputs de números
*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}