{% extends 'admin/adminMain.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static "css/styles.css" %}>
{% endblock %}
{% block content %} 

<br>
<h2 class="text-center">Partidos</h2>

  <div class="card-body">
    <div class="row pl-3">
      {% if specific %}
      <a class="btn btn-success btn-flat admin_buttons" href="{% url 'main:teams_match' specific.pkt specific.pks %}?next={% url 'main:match_list_specific' specific.pkt specific.pks %}">
      {% else %}
      <a class="btn btn-success btn-flat admin_buttons" href="{% url 'main:create_match' %}">
      {% endif %}
        Agregar nuevo partido
      </a>
      {% if tournaments or stages %}
        <form class="form-inline">
            {% if tournaments %}
            <select class="form-control mr-1" name="tournament">
                <option value="">Seleccione un torneo</option>
                {% for tournament in tournaments %}
                    {% if request.GET.tournament == tournament.id %}
                        <option value="{{ tournament.id }}" selected>{{ tournament.nombre }}</option>
                    {% else %}
                        <option value="{{ tournament.id }}">{{ tournament.nombre }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            {% endif %}
            {% if stages %}
            <select class="form-control mr-1" name="stage">
                <option value="">Seleccione una fase</option>
                {% for stage in stages %}
                    {% if request.GET.stage == stage.id %}
                        <option value="{{ stage.id }}" selected>{{ stage.nombre }}</option>
                    {% else %}
                        <option value="{{ stage.id }}">{{ stage.nombre }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            {% endif %}
            <button class="btn btn-primary">Buscar</button>
        </form>
      {% endif %}
    </div>
    <br>

    {% if match_list %}
       <div class="container col-12">
          <div class="row">
            <div class="col-2 text-left d-none d-md-block">
                <h6 class="label label-default">Fecha</h6>
            </div>
            <div class="col-2 text-left d-none d-md-block">
              <h6 class="label label-default">Lugar</h6>
            </div>
            <div class="col-2 text-left d-none d-md-block">
                <h6 class="label label-default">Torneo</h6>
            </div>
            <div class="col-2 text-left d-none d-md-block">
              <h6 class="label label-default">Fase</h6>
            </div>
          </div>
        </div>
    {% else %}
         <h3>No existen registros de partidos</h3>
    {% endif %}

    {% for match in match_list %}
    <ul class="list-group admin_list_group">
      <li class="list-group-item col-12">
        <div class="row">
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left mb-3">
            <h6 class="d-md-none">Fecha</h6>
            <td>
              {{ match.fecha }}
            </td>
          </div>
          {% if match.direccion %}
          <div class="w-100 d-block d-sm-none"></div>
          {% endif %}
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left mb-3">
            {% if match.direccion %}
            <h6 class="d-md-none">Dirección</h6>
            <td>
              {{ match.direccion }}
            </td>
            {% endif %}
          </div>
          <div class="w-100 d-block d-sm-none"></div>
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left mb-3">
            <h6 class="d-md-none">Torneo</h6>
            <td>
              {{ match.id_fase_torneo.id_torneo }}
            </td>
          </div>
          <div class="w-100 d-block d-sm-none"></div>
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left mb-3">
            <h6 class="d-md-none">Fase</h6>
            <td>
              {{ match.id_fase_torneo.id_fase }}
            </td>
          </div>
          <div class="w-100 d-block d-sm-none"></div>
          <div class="col col-sm col-md col-lg-4 col-xl-4 text-center">
            <button type="button" class="btn btn-danger btn-flat float-right btn-sm admin_buttons mb-1" data-toggle="modal" data-target="#match-{{ match.id }}">
              Eliminar
            </button>
            <div class="modal fade" id="match-{{ match.id }}" role="dialog" aria-labelledby="delete_modal_match_Label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="delete_modal_match_Label">¿Estás seguro que quieres eliminar este partido?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Esto eliminará el registro de manera permanente.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-flat float-right btn-sm admin_buttons mb-1" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger btn-flat float-right btn-sm admin_buttons mb-1" href="{% url 'main:delete_match' match.id %}">
                      Sí
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% if specific %}
            <a class="btn btn-warning btn-flat float-right btn-sm admin_buttons mb-1" href="{% url 'main:update_match' match.id %}?next={% url 'main:match_list_specific' specific.pkt specific.pks %}">
            {% else %}
            <a class="btn btn-warning btn-flat float-right btn-sm admin_buttons mb-1" href="{% url 'main:update_match' match.id %}">
            {% endif %}
              Modificar
            </a>
            <a class="btn btn-info btn-flat float-right btn-sm admin_buttons mb-1" href="{% url 'main:match_detail' match.id %}">
              Detalle
            </a>
          </div>
        </div>
      </li>
    </ul>
    {% endfor %}
  </div>

  {% if match_list %}
  <div class="row justify-content-center">
      <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{% if request.GET.tournament %}&tournament={{ request.GET.tournament }}{% endif %}{% if request.GET.stage %}&stage={{ request.GET.stage }}{% endif %}">&laquo; Primer</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.tournament %}&tournament={{ request.GET.tournament }}{% endif %}{% if request.GET.stage %}&stage={{ request.GET.stage }}{% endif %}">Anterior</a>
            </li>
            {% endif %}
            <li class="page-item">
                <span class="page-link">
                  Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.tournament %}&tournament={{request.GET.tournament}}{% endif %}{% if request.GET.stage %}&stage={{ request.GET.stage }}{% endif %}">Siguiente</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.tournament %}&tournament={{ request.GET.tournament }}{% endif %}{% if request.GET.stage %}&stage={{ request.GET.stage }}{% endif %}">Último &raquo;</a>
            </li>
            {% endif %}
          </ul>
      </nav>
  </div>
  {% endif %}

{% endblock %}