{% extends 'admin/adminMain.html' %}
{% block head %}

<div class="container">
    <h3>Seleccione a los equipos que participaron o que van a participar en el partido</h3>

    <h6>Tome en cuenta lo siguiente</h6>
    <ul class="list-group">
        <li class="list-group-item">Si el partido todavía no ha ocurrido, no es necesario que llene los campos de ganadores y puntos por equipo. Estos campos los podrá modificar luego.</li>
        <li class="list-group-item">Si el partido finalizó como un <strong>empate</strong>, entonces debe colocar que todos los equipos ganaron.</li>
        <li class="list-group-item">Si el partido ya ocurrió, entonces recuerde llenar los campos de los ganadores y los puntos</li>
    </ul>
</div>
<form method="POST" action="">

    <id="form-card" class="card-body">
      
        <!--Validación de errores-->
        {% csrf_token %} 
        {% if participacion_formset.errors or match_form.errors %}
        <div class="alert alert-danger alert-dismissible">
            <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-hidden="true"
            >
            ×
            </button>
            <h4><i class="icon fa fa-ban"></i> Ha ocurrido un error</h4>
            
            {% for error in match_form.non_field_errors %} 
                <li>{{ error }}</li>
            {% endfor %}

            {% for field in participacion_formset %} 
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %} 
            {% endfor %}
        </div>
        {% endif %}
        
        {% for field in match_form.visible_fields %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            <div class="col col-sm-5 col-md-5">
                {{ field }}
            </div>
        </div>
        {% endfor %}

        <!--Lista de clasificados-->
        {% if grupos %}
        <div class="container col-6">
            <h6>Lista de equipos por grupo</h6>
            <div class="row">
                <div class="col-3 text-left">
                    <h6 class="label label-default">Equipo</h6>
                </div>
                <div class="col-3 text-left">
                <h6 class="label label-default">Grupo</h6>
                </div>
                <div class="col-6 text-right"></div>
            </div>
        </div>
        {% for equipo in equipos %}
        <ul class="list-group admin_list_group">
            <li class="list-group-item col-6">
                <div class="row">
                    <div class="col-3 text-left">
                    {{ equipo.id_equipo }}
                    </div>
                    <div class="col-3 text-left">
                    {{ equipo.grupo }}
                    </div>
                    <div class="col-6 text-right"></div>
                </div>
            </li>
        </ul>
        {% endfor %}
        {% endif %}

        </br>

        {{ participacion_formset.management_form }}
        {% for participacion in participacion_formset %}
            <div>
                <select name="equipo-{{ participacion.valor }}">
                    {% for equipo in equipos %}
                    <option value="{{ equipo.id_equipo.id }}">{{ equipo.id_equipo.nombre }}</option>
                    {% endfor %}
                </select>
                {{ participacion.ganador }}
                {{ participacion.puntos_equipo }}
            </div>
        {% endfor %}
    </div>
  
    <div class="card-footer col-11 ml-4 admin_footer">
        <button type="submit" class="btn btn-primary btn-flat float-right">
            <i class="fas fa-save"></i> Crear partido
        </button>
    </div>
  
</form>
  
      

{% endblock %}