{% extends 'layouts/head.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static "css/styles.css" %}>
{% endblock %}
{% block head %}
<div class="general_background">
    <img class="header_img" style="background-image: url(https://images.unsplash.com/photo-1560253023-3ec5d502959f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">
</div>
  <div class="card-body general_background">
    {% for c in object_list %}
        <h2 class="text-center">{{ c.nombre }}</h2>
        <div class="col-8 text-left ml-5 mb-3">
            <div class="row mb-2">
                <h6 class="label label-default font-weight-bold">Juego:</h6>
                <div class="label label-default ml-2">{{ c.id_juego }}</div>
            </div>
            <div class="row mb-2">
                <h6 class="label label-default font-weight-bold">Edicion:</h6>
                <div class="label label-default ml-2">{{ c.edicion }}</div>
            </div>
            <div class="row mb-2">
                <h6 class="label label-default font-weight-bold">Fecha de inicio:</h6>
                <div class="label label-default ml-2">{{ c.fecha_inicio }}</div>
            </div>
            <div class="row mb-2">
                <h6 class="label label-default font-weight-bold">Fecha de fin:</h6>
                <div class="label label-default ml-2">{{ c.fecha_fin }}</div>
            </div>
            {% if c.inscripcion_abierta == False %}
            <div class="row mb-2">
                <h6 class="label label-default font-weight-bold">Inscripción cerrada</h6>
            </div>
            {% endif %}
            <div class="row mb-2">
                <a class="btn btn-secondary btn-flat admin_buttons"> <!-- hay que ponerle href a la lista de partidos de torneo -->
                    ver más
                </a>
            </div>
        </div>
        {% if c.inscripcion_abierta %}
        <div class="row">
            <div class="col-12 text-center">
                <a class="btn btn-primary btn-flat admin_buttons" href="{% url 'main:create_inscription' c.id %}">
                    Inscribirse
                </a>
            </div>
        </div>
        <br>
        <br>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}