<ul class="list-group" >
    <li class="list-group-item">
        <a href="{% url 'main:tournament_list' %}" >
            <img src="/static/icons/first-place-trophy.svg" class="nav-icon " width="30" style="margin-top: 8px;">
            <span>
                Torneos
            </span>
        </a>
    </li>
{#    <button type="button" style="border: none; background-color:#A9A9A9; outline: none; box-shadow: none;">#}
{#        <img src="/static/icons/criteria.svg" class="nav-icon " width="30">#}
{#        <span>#}
{#            Criterios ganadores#}
{#        </span>#}
{#    </button>#}
    <li class="list-group-item">
        <a href="{% url 'main:inscription_list' %}">
            <img src="/static/icons/clipboard.svg" class="nav-icon " width="30">
            <span>
                Inscripciones
            </span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'main:post_list' %}">
            <img src="/static/icons/sticky-notes.svg" class="nav-icon " width="30">
            <span>
                Posts
            </span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="#">
            <img src="/static/icons/soccer-field.svg" class="nav-icon " width="30">
            <span>
                Partidos
            </span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'main:stage_list' %}">
            <img src="/static/icons/phases.svg" class="nav-icon " width="30">
            <span>
                Fases
            </span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'main:game_list' %}">
            <img src="/static/icons/gamepad-controller.svg" class="nav-icon " width="30">
            <span>
                Juegos
            </span>
        </a>
    </li>
    {% if user.is_superuser %}
        <li class="list-group-item">
            <a href="{% url 'admin:auth_user_add' %}" >
                <img src="/static/icons/user.svg" class="nav-icon " width="30">
                <span>
                    Usuarios
                </span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'admin:auth_group_add' %}">
                <img src="/static/icons/role.svg" class="nav-icon " width="30">
                <span>
                    Roles
                </span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'admin:index' %}">
                Manejo de registros
            </a>
        </li>
    {% endif %}
</ul>