<ul class="list-group" >
    <button type="button" style="border: none; background-color:#A9A9A9; outline: none; box-shadow: none;">
        <img src="/static/icons/first-place-trophy.svg" class="nav-icon " width="40" style="margin-top: 8px;">
        <div>
            Torneos
        </div>
    </button>
    <button type="button" style="border: none; background-color:#A9A9A9; outline: none; box-shadow: none;">
        <img src="/static/icons/user.svg" class="nav-icon " width="40">
        <div>
            Usuarios
        </div>
    </button>
    <button type="button" style="border: none; background-color:#A9A9A9; outline: none; box-shadow: none;">
        <img src="/static/icons/brain.svg" class="nav-icon " width="40">
        <div>
            Organizadores
        </div>
    </button>
    <button type="button" style="border: none; background-color:#A9A9A9; outline: none; box-shadow: none;">
        <img src="/static/icons/clipboard.svg" class="nav-icon " width="40">
        <div>
            Inscripciones
        </div>
    </button>
    <button type="button" style="border: none; background-color:#A9A9A9; outline: none; box-shadow: none;">
        <img src="/static/icons/sticky-notes.svg" class="nav-icon " width="40">
        <div>
            Posts
        </div>
    </button>
    <button type="button" style="border: none; background-color:#A9A9A9; outline: none; box-shadow: none;">
        <img src="/static/icons/role.svg" class="nav-icon " width="40">
        <div>
            Roles
        </div>
    </button>
    <button type="button" style="border: none; background-color:#A9A9A9; outline: none; box-shadow: none;">
        <img src="/static/icons/permission.svg" class="nav-icon " width="40">
        <div>
            Permisos
        </div>
    </button>
    <button type="button" style="border: none; background-color:#A9A9A9; outline: none; box-shadow: none;">
        <img src="/static/icons/soccer-field.svg" class="nav-icon " width="40">
        <div>
            Partidos
        </div>
    </button>
    <button type="button" style="border: none; background-color:#A9A9A9; outline: none; box-shadow: none;">
        <img src="/static/icons/criteria.svg" class="nav-icon " width="40">
        <div>
            Criterios ganadores
        </div>
    </button>
    <button type="button" style="border: none; background-color:#A9A9A9; outline: none; box-shadow: none;">
        <img src="/static/icons/phases.svg" class="nav-icon " width="40">
        <div>
            Fases
        </div>
    </button>
    <button type="button" style="border: none; background-color:#A9A9A9; outline: none; box-shadow: none;">
        <img src="/static/icons/gamepad-controller.svg" class="nav-icon " width="40">
        <div>
            Juegos
        </div>
    </button>
</ul>