{% extends 'admin/adminMain.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static "css/styles.css" %}>
{% endblock %}
{% block content %}
<h2 class="text-center">{{ title }}</h2>

<div class="row mx-4">
  <form action="{% url 'main:create_stage' %}" method="POST">
      {% csrf_token %}
      <input type="text" class="d-none" name="next" value="{% url 'main:create_stage_tournament' pk %}"/>
      <input type="text" class="d-none" name="noshow" value="true"/>
      <button class="btn btn-outline-warning">Crear una nueva fase</button>
  </form>
</div>

<form method="POST" action="">

  <div class="card-body">
    
    <!--Validación de errores-->
    {% csrf_token %} 
    {% if stage_formset.errors %}
    <div class="alert alert-danger alert-dismissible">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-hidden="true"
      >
        ×
      </button>
      <h4><i class="icon fa fa-ban"></i> Ha ocurrido un error</h4>
      {% for field in stage_formset %}
        <ul>
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% endfor %}
    </div>
    {% endif %}

    {{ stage_formset.management_form }}
    <h6>Seleccione las fases, la cantidad de participantes y los grupos (si este torneo no tiene división de grupos, puede omitir estos campos)<button id="addBtn" type="button" class="btn btn-primary">Agregar campo</button></h6>
    <ul id="form-list" class="list-group admin_list_group">
      {% for stage_form in stage_formset %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-2 text-center">
            {{ stage_form.id_fase }}
          </div>
          <div class="col-2 text-center">
            {{ stage_form.participantes_por_equipo }}
          </div>
          <div class="col-2 text-center">
            {{ stage_form.equipos_por_partido }}
          </div>
          <div class="col-2 text-center">
            {{ stage_form.num_grupos }}
          </div>
          <div class="col-2 text-center">
            {{ stage_form.equipos_por_grupo }}
          </div>
        <div>
      </li>
      {% endfor %}
    </ul>


    <div class="card-footer col-11 ml-4 admin_footer">
      <button type="submit" class="btn btn-primary btn-flat float-right">
        <i class="fas fa-save"></i> {{ botton_title }}
      </button>
    </div>

  </div>
</form>
{% endblock %}

{% block extra_scripts %}
    <script src={% static 'js/stage_colector.js' %}></script>
{% endblock %}
