{% extends 'admin/adminMain.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static "css/styles.css" %}>
{% endblock %}
{% block content %}
<br>
<h2 class="text-center">{{ title }}</h2>

<form id="form" method="POST" action="">

  <div class="card-body">
    
    <!--Validación de errores-->
    {% csrf_token %} 
    {% if stage_formset.errors %}
    <div class="alert alert-danger alert-dismissible">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-hidden="true"
      >
        ×
      </button>
      <h4><i class="icon fa fa-ban"></i> Ha ocurrido un error</h4>
      {% for field in stage_formset %}
        <ul>
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% endfor %}
    </div>
    {% endif %}

    {{ stage_formset.management_form }}
    <p>Seleccione las fases, la cantidad de participantes y los grupos (si este torneo no tiene división de grupos, puede omitir estos campos)</p><button id="addBtn" type="button" class="btn btn-primary">Agregar campo</button></p>
    <div class="form-group">
      <div class="row">
        <div class="col-2 text-center d-none d-md-block">
          <h6 class="label label-default">Fase</h6>
        </div>
        <div class="col-2 text-center ml-2 mr-3 d-none d-md-block">
          <h6 class="label label-default">Participantes por equipo</h6>
        </div>
        <div class="col-2 text-center ml-3 mr-3 d-none d-md-block">
          <h6 class="label label-default">Equipos por partido</h6>
        </div>
        <div class="col-2 text-center ml-3 mr-3 d-none d-md-block">
          <h6 class="label label-default">Número de grupos</h6>
        </div>
        <div class="col-2 text-center ml-3 mr-2 d-none d-md-block">
          <h6 class="label label-default">Equipos por grupo</h6>
        </div>
      </div>
    </div>
    <ul id="form-list" class="list-group admin_list_group">
      {% for stage_form in stage_formset %}
      <li class="list-group-item col-12">
        <div class="row">
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left mb-3">
            <h6 class="d-md-none">Fase</h6>
            <span class="stage_select">
              {{ stage_form.id_fase }}
            </span>
          </div>
          <div class="w-100 d-block d-sm-none"></div>
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left ml-lg-2 ml-xl-2 mr-lg-3 mr-xl-3 mb-3">
            <h6 class="d-md-none">Participantes por equipo</h6>
            {{ stage_form.participantes_por_equipo }}
          </div>
          <div class="w-100 d-block d-sm-none"></div>
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left ml-lg-3 ml-xl-3 mr-lg-3 mr-xl-3 mb-3">
            <h6 class="d-md-none">Equipos por partido</h6>
            {{ stage_form.equipos_por_partido }}
          </div>
          <div class="w-100 d-block d-sm-none"></div>
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left ml-lg-3 ml-xl-3 mr-lg-3 mr-xl-3 mb-3">
            <h6 class="d-md-none">Número de grupos</h6>
            {{ stage_form.num_grupos }}
          </div>
          <div class="w-100 d-block d-sm-none"></div>
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left ml-lg-3 ml-xl-3 mr-lg-2 mr-xl-2">
            <h6 class="d-md-none">Equipos por grupo</h6>
            {{ stage_form.equipos_por_grupo }}
          </div>
        </div>
      </li>
      {% endfor %}

      {% if stagesTourn %}
          <div id="stageTournNum" class="d-none">{{ stageTournNum }}</div>
      {% endif %}

      {% for stageTourn in stagesTourn %}
      <li id="{% url 'main:delete_stage_tournament' stageTourn.id %}" class="list-group-item col-12">
        <div class="row">
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left mb-3">
            <h6 class="d-md-none">Fase</h6>
            <span class="stage_select">
                <select id="select" name="stage-select-0{{ stageTourn.id }}" class="form-control">
                    {% for stage in stages %}
                        {% if stageTourn.id_fase.id == stage.id %}
                            <option value="{{ stage.id }}" selected>{{ stage.nombre }}</option>
                        {% else %}
                            <option value="{{ stage.id }}">{{ stage.nombre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </span>
          </div>
          <div class="w-100 d-block d-sm-none"></div>
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left ml-lg-2 ml-xl-2 mr-lg-3 mr-xl-3 mb-3">
            <h6 class="d-md-none">Participantes por equipo</h6>
            <input id="part" name="stage-part-0{{ stageTourn.id }}" type="number" value="{{ stageTourn.participantes_por_equipo }}">
          </div>
          <div class="w-100 d-block d-sm-none"></div>
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left ml-lg-3 ml-xl-3 mr-lg-3 mr-xl-3 mb-3">
            <h6 class="d-md-none">Equipos por partido</h6>
            <input id="part-match" name="stage-part-match-0{{ stageTourn.id }}" type="number" value="{{ stageTourn.equipos_por_partido }}">
          </div>
          <div class="w-100 d-block d-sm-none"></div>
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left ml-lg-3 ml-xl-3 mr-lg-3 mr-xl-3 mb-3">
            <h6 class="d-md-none">Número de grupos</h6>
            <input id="num-groups" name="stage-num-groups-0{{ stageTourn.id }}" type="number" value="{{ stageTourn.num_grupos }}">
          </div>
          <div class="w-100 d-block d-sm-none"></div>
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left ml-lg-3 ml-xl-3 mr-lg-2 mr-xl-2">
            <h6 class="d-md-none">Equipos por grupo</h6>
            <input id="team-group" name="stage-team-group-0{{ stageTourn.id }}" type="number" value="{{ stageTourn.equipos_por_grupo }}">
          </div>
          <div class="w-100 d-block d-sm-none"></div>
          <div class="col">
              <button type="button" class="btn btn-danger deleteRow">X</button>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>


    <div class="card-footer col-11 ml-4 admin_footer">
      <button id="submit" type="submit" class="btn btn-primary btn-flat float-right">
        <i class="fas fa-save"></i> {{ botton_title }}
      </button>
    </div>

  </div>
</form>
{% endblock %}

{% block extra_scripts %}
    {% if stagesTourn %}<script type="text/javascript" src={% static 'js/stage_colector_update.js' %}></script>{% endif %}
    {% if stage_formset %}<script type="text/javascript" src={% static 'js/stage_colector.js' %}></script>{% endif %}
{% endblock %}
