{% extends 'admin/adminMain.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static "css/styles.css" %}>
{% endblock %}
{% block content %}
<br>
<h2 class="text-center">{{ title }}</h2>

<form method="POST" action="">

  <div class="card-body">
    
    <!--Validación de errores-->
    {% csrf_token %} 
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-hidden="true"
      >
        ×
      </button>
      <h4><i class="icon fa fa-ban"></i> Ha ocurrido un error</h4>
      
    </div>
    {% endif %}
    {% for error in form.non_field_errors %} 
          <li>{{ error }}</li>
      {% endfor %}
    {% for field in form.visible_fields %}
      <div class="form-group">
        <label>{{ field.label }}</label>
        <div class="col-2 col-sm-2 col-md-2">
          {{ field }}
        </div>
      </div>
    {% endfor %}

    {% for field in num_p_form %}
      <div class="form-group">
      <label>{{ field.label }}</label>
      <div class="col-8 col-sm-8 col-md-2">
        {{ field }}
      </div>
      </div>
    {% endfor %}
  </div>

  <div class="card-footer col-11 ml-4 admin_footer">
    <button type="submit" class="btn btn-primary btn-flat float-right">
      <i class="fas fa-save"></i> {{ botton_title }}
    </button>
    <a class="btn btn-primary btn-flat float-left admin_buttons" href="{% url 'main:tournament_list' %}">
      Cancelar
    </a>
  </div>
  <br>
  <br>
</form>
{% endblock %}