{% extends 'admin/adminMain.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static "css/styles.css" %}>
{% endblock %}
{% block content %}
  <br>
  <h2 class="text-center">Torneo</h2>

<div class="card-body">
    <div class="col-8 text-left ml-5">
      <div class="row mb-2">
        <h6 class="label label-default font-weight-bold">Nombre:</h6>
        <div class="label label-default ml-2">{{ tournament.nombre }}</div>
      </div>
      <div class="row mb-2">
        <h6 class="label label-default font-weight-bold">Juego:</h6>
        <div class="label label-default ml-2">{{ tournament.id_juego }}</div>
      </div>
      <div class="row mb-2">
        <h6 class="label label-default font-weight-bold">Edicion:</h6>
        <div class="label label-default ml-2">{{ tournament.edicion }}</div>
      </div>
      <div class="row mb-2">
        <h6 class="label label-default font-weight-bold">Fecha de inicio:</h6>
        <div class="label label-default ml-2">{{ tournament.fecha_inicio }}</div>
      </div>
      <div class="row mb-2">
        <h6 class="label label-default font-weight-bold">Fecha de fin:</h6>
        <div class="label label-default ml-2">{{ tournament.fecha_fin }}</div>
      </div>
      <br>
      {% if tournament.inscripcion_abierta == False %}
      <div class="row mb-2">
        <h6>Fase actual en progreso: <strong>{{ fase_clasificatoria }}</strong></h6>
      </div>
      <!--Sólo se muestra la opción de avanzar de fase si la fase actual y la siguiente existen-->      
      <div class="row mb-2">
        {% if id_fase_clasif and next_stage %}
          <a class="btn btn-primary btn-flat float-left admin_buttons" href="{% url 'main:clasificatorias' tournament.id id_fase_clasif  %}">
            Pasar a la siguiente fase
          </a>
        {% endif %}
      </div>
      <div class="row mb-2">
        <h6 class="label label-default font-weight-bold">Fases:</h6>
      </div>
      <ul>
        {% for result in tourStage %}
          <li class="mb-1">
            <span class="label label-default ml-2">{{ result.id_fase }}</span>
            <a href="{% url 'main:teams_tournament' tournament.id result.id_fase.id %}" class="btn btn-primary mb-1">Ver equipos</a>
            {% if result.num_grupos != None or result.num_grupos > 1 %}
              <a href="{% url 'main:stage_groups' tournament.id result.jerarquia %}" class="btn btn-primary mb-1">Gestionar grupos</a>
            {% endif %}
            <a href="{% url 'main:match_list_specific' tournament.id result.id_fase.id %}" class="btn btn-secondary mb-1">Gestionar partidos</a>          
          </li>          
        {% endfor %}
      </ul>
      {% endif %}
  </div>

  <div class="card-footer col-11 ml-4 admin_footer">
    <a class="btn btn-primary btn-flat float-left admin_buttons" href="{% url 'main:tournament_list' %}">
      Volver
    </a>
  </div>
</div>
    
{% endblock %}