{% extends 'admin/adminMain.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static "css/styles.css" %}>
{% endblock %}

{% block content %}
  <br>
  <h2 class="text-center">{{ title }}</h2>
  <div class="card-body">
      <div>
        <a class="btn btn-success btn-sm btn-flat admin_buttons" href="{% url 'main:create_post' %}">
          Agregar
        </a>
      </div>
      <br>
      <div class="row ">
        <div class="col-2 text-center d-none d-md-block">
            <h6 class="label label-default">Imagen</h6>
        </div>
        <div class="col-3 text-center d-none d-md-block">
          <h6 class="label label-default">Titulo</h6>
        </div>
        <div class="col-3 text-center d-none d-md-block">
          <h6 class="label label-default">Cuerpo</h6>
        </div>
      </div>
    {% for c in object_list %}
      <ul class="list-group admin_list_group mr-3">
        <li class="list-group-item">
          <div class="row">
            <div class="col col-sm col-md col-lg-2 col-xl-2 text-center mb-3">
              <td>
                {% if c.imagen %}
                <img class="post_images" src={{ c.imagen.url }}>
                {{ c.imagen.url }}
                {% endif %}
              </td>
            </div>
            <br>
            <div class="w-100 d-block d-sm-none"></div>
            <div class="col col-sm col-md col-lg-3 col-xl-3 text-center mb-3">
              <td>
                <h5>{{ c.titulo }}</h5>
              </td>
            </div> 
            <br>
            <div class="w-100 d-block d-sm-none"></div>
            <div class="col col-sm col-md col-lg-3 col-xl-3 text-left mb-3"> 
              <td class="label">
                {% if c.cuerpo|length > 100 %}
                  {{ c.cuerpo|slice:":100" }} ...
                {% else %}
                  {{ c.cuerpo }}
                {% endif %}
              </td>
            </div>
            <br>
            <div class="w-100 d-block d-sm-none"></div>
            <div class="col col-sm col-md col-lg-4 col-xl-4 align-middle">
              <button type="button" class="btn btn-danger btn-flat float-right btn-sm admin_buttons mb-1" data-toggle="modal" data-target="#post-{{ c.id }}">
                Eliminar
              </button>
              <div class="modal fade" id="post-{{ c.id }}" role="dialog" aria-labelledby="delete_modal_post_Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="delete_modal_post_Label">¿Estás seguro que quieres eliminar este post?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Esto eliminará el registro de manera permanente.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btn-flat float-right btn-sm admin_buttons mb-1" data-dismiss="modal">Cancelar</button>
                      <a class="btn btn-danger btn-flat float-right btn-sm admin_buttons mb-1" href="{% url 'main:delete_post' c.id %}">
                        Sí
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn btn-warning btn-flat float-right btn-sm admin_buttons mb-1" href="{% url 'main:update_post' c.id %}">
                Modificar
              </a>
              <a class="btn btn-info btn-flat float-right btn-sm admin_buttons mb-1" href="{% url 'main:post_detail' c.id %}">
                Detalle
              </a>
            </div>
          </div>
        </li>
      </ul>
    {% endfor %}
  </div>
{% endblock %}