{% extends 'admin/adminMain.html' %}
{% load static %}
{%block extra_scripts%}
<link rel="stylesheet" href={% static "css/styles.css" %}>
{% endblock %}
{% block content %}
  <br>
  <h2 class="text-center">Post</h2>
  <br>
  <div class="container">
    <div class="row">
      <div class="offset-2 col-2 text-center">
        <h6 class="label label-default">Titulo</h6>
      </div>
      <br>
      <div class="col-7 text-center">
        <h6 class="label label-default">Cuerpo</h6>
      </div>
    </div>

    <div class="row">
      <div class="col-2 text-center ml-3">
        {% if post.imagen %}
          <img class="post_images" src={{ post.imagen.url }}>
        {% endif %}
      </div>
      <br>
      <div class="col-2 text-left">
        {{ post.titulo }}
      </div>
      <br>
      <div class="col-7 text-left">
        {{ post.cuerpo }}
      </div>
    </div>
  </div>
    
{% endblock %}