{% extends 'admin/adminMain.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static "css/styles.css" %}>
{% endblock %}

{% block content %}
  <br>
  <h2 class="text-center">{{ title }}</h2>
  <div class="card-body">
          
    <!--Validación de errores-->
    {% csrf_token %} 
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-hidden="true"
      >
        ×
      </button>
      <h4><i class="icon fa fa-ban"></i> Ha ocurrido un error</h4>
      {% for field in form %} 
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %} 
      {% endfor %}
    </div>
    {% endif %} 
    
      <div>
        <a class="btn btn-success btn-sm btn-flat admin_buttons" href="{% url 'main:create_post' %}">
          Agregar
        </a>
      </div>
      <br>
      <div class="row ">
        <div class="col-2 text-center">
            <h6 class="label label-default">Imagen</h6>
        </div>
        <div class="col-3 text-center">
          <h6 class="label label-default">Titulo</h6>
        </div>
        <div class="col-3 text-center">
          <h6 class="label label-default">Cuerpo</h6>
        </div>
      </div>
    {% for c in object_list %}
      <ul class="list-group admin_list_group mr-3">
        <li class="list-group-item">
          <div class="row">
            <div class="col-2 text-center">
              <td>
                {% if c.imagen %}
                <img class="post_images" src={{ c.imagen.url }}>
                {% endif %}
              </td>
            </div>
            <div class="col-3 text-center">
              <td>
                {{ c.titulo }}
              </td>
            </div>
            <div class="col-3 text-left">
              <td class="label">
                {% if c.cuerpo|length > 100 %}
                  {{ c.cuerpo|slice:":100" }} ...
                {% else %}
                  {{ c.cuerpo }}
                {% endif %}
              </td>
            </div>
            <div class="col-4 align-middle">
              <button type="button" class="btn btn-danger btn-flat float-right btn-sm admin_buttons" data-toggle="modal" data-target="#delete_modal_post">
                Eliminar
              </button>
              <div class="modal fade" id="delete_modal_post" tabindex="-1" role="dialog" aria-labelledby="delete_modal_stage_Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="delete_modal_stage_Label">¿Estas seguro que quieres eliminar este rol?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Esto eliminará el registro de manera permanente.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn btn-primary">Si</button>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn btn-warning btn-flat float-right btn-sm admin_buttons" href="{% url 'main:update_post' c.id %}">
                Modificar
              </a>
              <a class="btn btn-info btn-flat float-right btn-sm admin_buttons" href="{% url 'main:post_detail' c.id %}">
                Detalle
              </a>
            </div>
          </div>
        </li>
      </ul>
    {% endfor %}
  </div>
{% endblock %}