{% extends 'layouts/head.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static "css/styles.css" %}>
{% endblock %}
{% block head %}
<img class="header_img" style="background-image: url(https://images.unsplash.com/photo-1471965187167-4a4c69ae4707?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1618&q=80)">
<div class="card-body general_background">
  {% for c in object_list %}
      <h2 class="text-center">{{ c.titulo }}</h2>
      <br>
      <div class="container">
        <div class="row">
          <div class="col col-sm col-md-3 col-lg-3 col-xl-3 mb-3">
            {% if c.imagen %}
              <img class="main_post_images" src={{ c.imagen.url }}>
            {% endif %}
          </div>
          <div class="w-100 d-block d-sm-none"></div>
          <div class="col col-sm col-md-8 col-lg-8 col-xl-8 text-left">
            <p>
              {{ c.cuerpo }}
            </p>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
  {% endfor %}
  </div>
{% endblock %}