{% extends 'admin/adminMain.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static "css/styles.css" %}>
{% endblock %}
{% block content %} 

<br>
<h2 class="text-center">Historial de participaciones</h2>

  <div class="card-body">
    <div class="row ml-2">
        <form class="form-inline">
            <input type="number" name="cedula" class="form-control mr-1" placeholder="Cedula">
            <input type="text" name="name" class="form-control mr-1" placeholder="Nombre">
            <input type="text" name="lastname" class="form-control mr-1" placeholder="Apellido">
            <button class="btn btn-primary">Buscar</button>
          </form>
    </div>
    <br>
    {% if object_list %}
    <div class="container col-12">
      <div class="row">
        <div class="col-2 text-left d-none d-md-block">
            <h6 class="label label-default">Cédula</h6>
        </div>
        <div class="col-2 text-left d-none d-md-block">
          <h6 class="label label-default">Nombre</h6>
        </div>
        <div class="col-2 text-left d-none d-md-block">
            <h6 class="label label-default">Apellido</h6>
        </div>
        <div class="col-2 text-left d-none d-md-block">
          <h6 class="label label-default">Correo</h6>
        </div>
      </div>
    </div>
    {% else %}
        <h4>No hay registros de participaciones</h4>
    {% endif %}

    {% for reg in object_list %}
    <ul class="list-group admin_list_group">
      <li class="list-group-item col-12">
        <div class="row">
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left mb-3">
            <h6 class="d-md-none">Cédula</h6>
            <td>
              {{ reg.id_persona.cedula }}
            </td>
          </div>
          <div class="w-100 d-block d-sm-none"></div>
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left mb-3">
            <h6 class="d-md-none">Nombre</h6>
            <td>
              {{ reg.id_persona.nombre }}
            </td>
          </div>
          <div class="w-100 d-block d-sm-none"></div>
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left mb-3">
            <h6 class="d-md-none">Apellido</h6>
            <td>
              {{ reg.id_persona.apellido }}
            </td>
          </div>
          <div class="w-100 d-block d-sm-none"></div>
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-left mb-3">
            <h6 class="d-md-none">Correo</h6>
            <td>
              {{ reg.id_persona.correo }}
            </td>
          </div>
          <div class="w-100 d-block d-sm-none"></div>
          <div class="col col-sm col-md col-lg-2 col-xl-2 text-right mb-3">
            <a class="btn btn-info btn-flat float-right btn-sm admin_buttons mb-1" href="{% url 'main:person_detail' reg.id_persona.id %}">
              Detalle
            </a>
          </div>
        </div>
      </li>
    </ul>
    {% endfor %}
    {% if object_list %}
    <div class="row justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{% if request.GET.cedula %}&cedula={{ request.GET.cedula }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}{% if request.GET.lastname %}&lastname={{ request.GET.lastname }}{% endif %}">&laquo; Primer</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.cedula %}&cedula={{ request.GET.cedula }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}{% if request.GET.lastname %}&lastname={{ request.GET.lastname }}{% endif %}">Anterior</a>
            </li>
            {% endif %}
            <li class="page-item">
                <span class="page-link">
                  Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.cedula %}&cedula={{ request.GET.cedula }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}{% if request.GET.lastname %}&lastname={{ request.GET.lastname }}{% endif %}">Siguiente</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.cedula %}&cedula={{ request.GET.cedula }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}{% if request.GET.lastname %}&lastname={{ request.GET.lastname }}{% endif %}">Último &raquo;</a>
            </li>
            {% endif %}
        </ul>
      </nav>
    </div>
    {% endif %}
  </div>

{% endblock %}