{% extends 'admin/adminMain.html' %}
{% block head %}

  <h1>Solicitudes de inscripción</h1>

  {% if cant_pendientes > 0 %}
    <h3>Solicitudes pendientes</h3>
    {% for reg in register %}
      {% if reg.estatus == 'p' %}
      <h4>paso</h4>
        {{ reg.id_equipo__nombre }}
        {{ reg.id_torneo__nombre }}
        {% if reg.id_equipo__comentario %}
          {{ reg.id_equipo__comentario }}
        {% endif %}
        <a class="btn btn-info btn-flat float-right btn-sm admin_buttons" href="{% url 'main:approve_inscription' reg.id_equipo reg.id_torneo %}">Aprobar</a>
        <a class="btn btn-info btn-flat float-right btn-sm admin_buttons" href="{% url 'main:inscription_detail' reg.id_equipo %}">Ver integrantes</a>
        <br/>
      {% endif %}
    {% endfor %}
  {% endif %}
  <br/>

    
{% endblock %}