{% extends 'admin/adminMain.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static "css/styles.css" %}>
{% endblock %}
{% block content %}
    <br>
    <h2 class="text-center">Detalle de inscripción</h2>
    <br>
    <div class="row">
        <div class="offset-1 col-10">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Cedula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Username</th>
                    <th scope="col">Rol</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for person in persons %}
                    <tr>
                        <td>{{ person.id_persona.cedula }}</td>
                        <td>{{ person.id_persona.nombre }}</td>
                        <td>{{ person.id_persona.apellido }}</td>
                        <td>{{ person.id_persona.correo }}</td>
                        <td>{{ person.id_persona.nickname }}</td>
                        <td>{{  person.get_rol_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <br/>

    <div class="card-footer col-11 ml-4 admin_footer">
        <a class="btn btn-primary btn-flat float-left admin_buttons" href="{% url 'main:inscription_list' %}">
          Volver
        </a>
    </div>
    
{% endblock %}