{% extends 'layouts/head.html ' %}
{% block head %}

  <h1>{{ title }}</h1>

  {% for team in object_list %}
    <br/>{{ team.id_torneo.nombre }}
    <br/>{{ team.id_equipo.nombre }}
    <br/>{{ team.id_persona.nombre }} {{ team.id_persona.apellido }}
    <br/>{{ team.id_persona.cedula }}
    <br/>{{ team.persons.nickname }}
    <h4>Comentario:</h4>
    <br/>{{ team.id_equipo.comentario }}
    <br/>
    <h4>botones</h4>
    <!--links de los botones que llaman a las funciones de eliminar o aprobar inscripción-->
    <a href="{% url 'main:approve_inscription' team.id_equipo.id team.id_torneo.id %}">aprobar</a>
    <br/>
  {% endfor %}
    
{% endblock %}