{% extends 'layouts/head.html' %}

{% block head %}
    {% if form.errors %}
      <p>Tu nombre de usuario o contraseña son incorrectas</p>
    {% endif %}
    <div class="row login-img">
      <section class="container-fluid">
          <section class="row">
              <section class="col col-sm cl-md-8">
                <div class="offset-md-4 offset-1 col-10 col-sm-10 col-md-4 text-center form-container">
                  <h3 class="text-center">Iniciar Sesión</h3>
                  <br>
                  <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Login" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form> 
                </div>
              </section>
          </section>
      </section>
    </div>
{% endblock %}
