{% extends 'layouts/head.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static "css/styles.css" %}>
{% endblock %}
{% block head %}
<div class="row inscription-img">
  <section class="container-fluid">
      <section class="row"> 
          <section class="col-12">
            <div class="offset-1 col-10 text-center form-container">
              <h2 class="text-center">{{ title }}</h2>
              <form method="POST" action="" enctype="multipart/form-data">
                <div class="card-body text-left">
                  <!--Validación de errores-->
                  {% csrf_token %} 
                  {% if person_formset.errors or team_register_formset.errors %}
                  <div class="alert alert-danger alert-dismissible">
                    <button
                      type="button"
                      class="close"
                      data-dismiss="alert"
                      aria-hidden="true"
                    > 
                      ×
                    </button>
                    <h4><i class="text-center icon fa fa-ban"></i> Ha ocurrido un error</h4>
                    <ul>
                    {% for dict in team_register_formset.errors %}
                      {% for error in dict.values %}
                        <li>{{ error }}</li>
                      {% endfor %} 
                    {% endfor %}

                    {% for dict in team_register_formset.role_form.errors %}
                      {% for error in dict.values %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    {% endfor %}
                    
                    {% for dict in person_formset.errors %}
                      {% for error in dict.values %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    {% endfor %}

                    {% if person_formset.cedula.errors %}
                      {% for error in person_formset.cedula.errors %}
                        {{ error }}
                      {% endfor %}
                    {% endif %}
                    </ul>
                  </div>
                  {% endif %}
                </div>

                <div class="card-body text-center">
                  <div class="row">
                    {% if tipo_delegado == 'd' %}
                    <div class="offset-md-1 offset-lg-1 col-10">
                      <li>En este torneo uno de los participantes debe ser solo <strong>delegado</strong>.</li>
                    </div>
                    {% endif %}
                    {% if tipo_delegado == 'jd' %}
                    <div class="offset-md-1 offset-lg-1 col-10">
                      <li>En este torneo uno de los participantes debe ser un <strong>delegado y jugador</strong>.</li>
                    </div>
                    {% endif %}
                    <div class="offset-md-1 offset-lg-1 col-10">
                      <li>El limite de participantes para este torneo es: <strong>{{ person_number }}</strong>.</li>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="offset-md-1 offset-lg-1 col-12 col-sm-10 col-md-8 col-lg-4">
                      <label>Nombre del equipo</label>
                      {{ team_form.nombre }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="offset-md-1 offset-lg-1 col-12 col-sm-10 col-md-8 col-lg-4">
                      <label>Logo</label>
                      {{ team_form.logo }}
                    </div>
                  </div>
              
                  <br>
              
                  <div class="row">
                    <div class="col-12">
                      <h4 class="text-center">Ingrese los campos</h4>
                      <button id="addBtn" type="button" class="btn btn-primary float-right">Agregar nuevo participante</button>
                    </div>
                  </div>
              
                  <br>

                  {{ person_formset.management_form }}
                  <div class="row ml-2">
                    <div class="col-2 text-left d-none d-md-block">
                        <h6 class="label label-default list_titles">Cedula</h6>
                    </div>
                    <div class="col-2 text-left d-none d-md-block">
                      <h6 class="label label-default list_titles">Nombre</h6>
                    </div>
                    <div class="col-2 text-left d-none d-md-block">
                      <h6 class="label label-default list_titles">Apellido</h6>
                    </div>
                    <div class="col-2 text-left d-none d-md-block">
                      <h6 class="label label-default list_titles">Correo</h6>
                    </div>
                    <div class="col-2 text-left d-none d-md-block">
                      <h6 class="label label-default list_titles">Username</h6>
                    </div>
                    <div class="col-2 text-left d-none d-md-block">
                      <h6 class="label label-default list_titles">Rol</h6>
                    </div>
                  </div>
                  <ul id="person_list" class="list-group admin_list_group mr-2">
                  {% for person_form, team_form in inscription_fields %}
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col col-sm col-md col-lg-2 col-xl-2 text-left mb-3">
                          <h6 class="d-md-none">Cedula</h6>
                            {{ person_form.cedula }}
                        </div>
                        <div class="w-100 d-block d-sm-none"></div>
                        <div class="col col-sm col-md col-lg-2 col-xl-2 text-left mb-3">
                          <h6 class="d-md-none">Nombre</h6>
                            {{ person_form.nombre }}
                        </div>
                        <div class="w-100 d-block d-sm-none"></div>
                        <div class="col col-sm col-md col-lg-2 col-xl-2 text-left mb-3">
                          <h6 class="d-md-none">Apellido</h6>
                            {{ person_form.apellido }}
                        </div>
                        <div class="w-100 d-block d-sm-none"></div>
                        <div class="col col-sm col-md col-lg-2 col-xl-2 text-left mb-3">
                          <h6 class="d-md-none">Correo</h6>
                          {{ person_form.correo }}
                        </div>
                        <div class="w-100 d-block d-sm-none"></div>
                        <div class="col col-sm col-md col-lg-2 col-xl-2 text-left mb-3">
                          <h6 class="d-md-none">Username</h6>
                            {{ person_form.nickname }}
                        </div>
                        <div class="w-100 d-block d-sm-none"></div>
                        <div class="col col-sm col-md col-lg-2 col-xl-2 text-left mb-3">
                            <h6 class="d-md-none">Rol</h6>
                              {{ team_form.rol }}
                          </div>
                      </div>
                    </li>
                  {% endfor %}
                  </ul>
              
                  <div class="row">
                    <div class="col-12">
                      <label>Comentario</label>
                      {{ team_form.comentario }}
                    </div>
                  </div>

                  <input id="num_max_part" value="{{ person_number }}" type="hidden"/>

                  <br>

                  <div class="card-footer offset-md-1 offset-lg-1 col-10 admin_footer">
                    <button type="submit" class="btn btn-primary btn-flat float-right">
                      <i class="fas fa-save"></i> {{ botton_title }}
                    </button>
                  </div>

                  <br>
                  <br>
                </div>
              </form>
            </div>
          </section>
      </section>
  </section>
</div>
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src={% static 'js/person_colector.js' %}></script>
{% endblock %}
