{% extends 'admin/adminMain.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static "css/styles.css" %}>
{% endblock %}
{% block content %}
<br>
<h2 class="text-center mr-3">{{ title }}</h2>

<form method="POST" action="">

  <div class="card-body">
    
    <!--Validación de errores-->
    {% csrf_token %} 
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-hidden="true"
      >
        ×
      </button>
      <h4><i class="icon fa fa-ban"></i> Ha ocurrido un error</h4>
      {% for field in form %} 
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %} 
      {% endfor %}
    </div>
    {% endif %} 
    
    {% for field in form.visible_fields %}
      <div class="form-group">
        <label>{{ field.label }}</label>
        <div class="col-4">
          {{ field }}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="card-footer admin_footer col-11">
    <button type="submit" class="btn btn-primary btn-flat float-right">
      <i class="fas fa-save"></i> {{ botton_title }}
    </button>
    <a class="btn btn-primary btn-flat float-left admin_buttons" href="{% url 'main:game_list' %}">
      Volver
    </a>
  </div>

</form>
{% endblock %}