{% extends 'layouts/head.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static "css/styles.css" %}> 
{% endblock %}
{% block head %}
<div class="general_background">
    <img class="header_img" style="background-image: url(/images/esports.jpg)">
</div>
<div class="card-body general_background">
<a class="btn btn-warning btn-flat float-left btn-sm admin_buttons mb-1" >Ver tabla de clasificación</a>
<a class="btn btn-warning btn-flat float-left btn-sm admin_buttons mb-1" >Generar PDF</a>
<br>
<br>
    {% for stage in stages %}
        {% for stg in stage_with_match %}
            {% if stg.id_fase_torneo.id == stage.id %}
            <h2 class="text-center">{{ stage.id_fase }}</h2>
            {% endif %}
        {% endfor %}
            <div class="row">
                {% for match in match_list %}
                {% if stage.id == match.id_fase_torneo.id %}
                <div class="col-sm-6 mb-2">
                  <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7 text-center">
                                {% for part in participation %}
                                    {% if match.id == part.id_partido.id %}
                                        <div class="label label-default mb-3">
                                            {% if part.ganador and not tied %}
                                                <img src="/static/icons/medal.svg" class="nav-icon " width="25">
                                            {% endif %}
                                            <span>
                                                {{ part.id_equipo }}
                                            </span> 
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-5 vertical_line">
                                <div class="row mb-2">
                                    <h6 class="label label-default font-weight-bold">Fecha:</h6>
                                    <div class="label label-default ml-2">{{ match.fecha }}</div>
                                </div>
                                {% if match.direccion %}
                                <div class="row mb-2">
                                    <h6 class="label label-default font-weight-bold">Dirección:</h6>
                                    <div class="label label-default ml-2">{{ match.direccion }}</div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
    {% endfor %}
</div>
{% endblock %}