{% extends 'layouts/head.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static "css/styles.css" %}>
{% endblock %}
{% block head %}
<div>
    <img class="header_img" style="background-image: url(/images/system/esports.jpg)">
</div>
<div class="card-body">
    <a href="{% url 'main:matches_public_list_pdf' pk_tour %}" class="btn btn-warning btn-flat float-left btn-sm admin_buttons mb-1" target="_blank">Generar PDF</a>
    {% if stage_clasified_table %}
    <a class="btn btn-info btn-flat float-right btn-sm admin_buttons" href="{% url 'main:public_classified' stage_clasified_table.id %}">
    Ver tabla de clasificación
    </a>
    {% endif %}
    <br>
    <br>
    <div class="row">
        <div class="col text-center ml-5 mb-3">
            <h1 class="text-center">{{ tournament }}</h1>
        </div>
    </div>
    {% if not stage_with_match %}
    <br>
    <br>
    <div class="row">
        <div class="col text-center ml-5 mb-3">
            <h1 class="text-center">Todavía no hay partidos disponibles</h1>
        </div>
    </div>
    {% else %}
    {% for stage in stages %}
        {% for stg in stage_with_match %}
            {% if stg.id_fase_torneo.id == stage.id %}
            <div class="row">
                <div class="col text-center ml-5 mb-3">
                    <h2 class="text-center">{{ stage.id_fase }}</h2>
                </div>
            </div>
            {% endif %}
        {% endfor %}
            <div class="row">
                {% for match in match_list %}
                {% if stage.id == match.id_fase_torneo.id %}
                <div class="col-sm-6 mb-2">
                  <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7 text-center">
                                {% for part in participation %}
                                    {% if match.id == part.id_partido.id %}
                                        <div class="label label-default mb-3">
                                            {% if part.ganador %}
                                                <img src="/static/icons/medal.svg" class="nav-icon " width="25">
                                            {% endif %}
                                            <span>
                                                {{ part.id_equipo }}
                                            </span>
                                            {% if part.score is not None %}
                                            <span class="text-right font-weight-bold">
                                                {{ part.score }}
                                            </span> 
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-5 vertical_line">
                                <div class="row mb-2 ml-2">
                                    <h6 class="label label-default font-weight-bold">Fecha:</h6>
                                    <div class="label label-default ml-2">{{ match.fecha }}</div>
                                </div>
                                {% if match.direccion %}
                                <div class="row mb-2 ml-2">
                                    <h6 class="label label-default font-weight-bold">Dirección:</h6>
                                    <div class="label label-default ml-2">{{ match.direccion }}</div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}